 # --- COMPILATION OUTPUT ---
 bin/
 obj/
 out/
 [Aa]rtifacts/
 
 # --- USER-SPECIFIC FILES ---
 *.user
 *.useros
 *.suo
 *.svd
 *.pidb
 *.ide
 *.sln.docstates
 
 # --- RIDER / INTELLIJ ---
 .idea/
 *.iml
 .idea/workspace.xml
 .idea/tasks.xml
 .idea/gradle.xml
 .idea/modules.xml
 .idea/assetWizardSettings.xml
 .idea/dictionaries
 .idea/httpRequests/
 .idea/sonarlint/
 
 # --- VS CODE ---
 .vscode/
 
 # --- DOTNET & EF CORE ---
 *.dbmdl
 *.mdf
 *.ldf
 *Migrations/*Designer.cs
 *Migrations/*Snapshot.cs
 
 # NO subir la BD local
 *.sqlite
 *.db
 
 # EF Tools logs
 efmigration.log
 
 # --- SYSTEM FILES ---
 .DS_Store
 Thumbs.db
 
 # --- LOGS ---
 *.log
 logs/
 log/
 
 # --- SECRETS ---
 
 .env
 .env.*
 
 # --- OTHER ---
 *.tmp
 *.temp
 *.bak
 *.swp
 *.swn
 *.orig
